[Unit]
Description=Back up Vaultwarden data to restic

[Service]
Type=oneshot
WorkingDirectory=/home/samarth/server
ExecStart=/home/samarth/server/backup/backup.sh
