[Unit]
Description=Prune old Vaultwarden restic snapshots

[Service]
Type=oneshot
WorkingDirectory=/home/samarth/server
ExecStart=/home/samarth/server/backup/prune-backup.sh
