[Unit]
Description=Prune old Vaultwarden restic snapshots

[Service]
Type=oneshot
WorkingDirectory=/home/samarth/server
ExecStart=/usr/bin/python3 /home/samarth/server/backup/prune-backup.py
